sublimetext/User/Package Control.last-run
sublimetext/User/Package Control.ca-list
sublimetext/User/Package Control.ca-bundle
sublimetext/User/Package Control.system-ca-bundle
sublimetext/User/Package Control.cache/
sublimetext/User/Package Control.ca-certs/
sublimetext/User/Package Control.merged-ca-bundle
sublimetext/User/Package Control.user-ca-bundle
sublimetext/User/oscrypto-ca-bundle.crt
config.sublime-workspace
vscode/User/workspaceStorage/
.DS_Storessh/agent.env
ssh/known_hosts
ssh/agent.env
vscode/User/globalStorage/
